{
  "swagger": "2.0",
  "info": {
    "title": "Matrix Client-Server API",
    "version": "unstable"
  },
  "host": "matrix.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/.well-known/matrix/client": {
      "get": {
        "tags": [
          "Server administration"
        ],
        "summary": "Gets Matrix server discovery information about the domain.",
        "description": "Gets discovery information about the domain. The file may include\nadditional keys, which MUST follow the Java package naming convention,\ne.g. `com.example.myapp.property`. This ensures property names are\nsuitably namespaced for each application and reduces the risk of\nclashes.\n\nNote that this endpoint is not necessarily handled by the homeserver,\nbut by another webserver, to be used for discovering the homeserver URL.",
        "operationId": "getWellknown",
        "responses": {
          "200": {
            "description": "Server discovery information.",
            "schema": {
              "title": "Discovery Information",
              "type": "object",
              "description": "Used by clients to determine the homeserver, identity server, and other\noptional components they should be interacting with.",
              "example": {
                "m.homeserver": {
                  "base_url": "https://matrix.example.com"
                },
                "m.identity_server": {
                  "base_url": "https://identity.example.com"
                },
                "org.example.custom.property": {
                  "app_url": "https://custom.app.example.org"
                }
              },
              "additionalProperties": {
                "type": "object",
                "description": "Application-dependent keys using Java package naming convention."
              },
              "required": [
                "m.homeserver"
              ],
              "properties": {
                "m.homeserver": {
                  "title": "Homeserver Information",
                  "type": "object",
                  "description": "Used by clients to discover homeserver information.",
                  "required": [
                    "base_url"
                  ],
                  "properties": {
                    "base_url": {
                      "type": "string",
                      "description": "The base URL for the homeserver for client-server connections.",
                      "format": "uri",
                      "example": "https://matrix.example.com"
                    }
                  }
                },
                "m.identity_server": {
                  "title": "Identity Server Information",
                  "type": "object",
                  "description": "Used by clients to discover identity server information.",
                  "required": [
                    "base_url"
                  ],
                  "properties": {
                    "base_url": {
                      "type": "string",
                      "description": "The base URL for the identity server for client-server connections.",
                      "format": "uri",
                      "example": "https://identity.example.com"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No server discovery information available."
          }
        }
      }
    },
    "/_matrix/client/v1/register/m.login.registration_token/validity": {
      "get": {
        "tags": [
          "Account management"
        ],
        "summary": "Query if a given registration token is still valid.",
        "description": "Queries the server to determine if a given registration token is still\nvalid at the time of request. This is a point-in-time check where the\ntoken might still expire by the time it is used.\n\nServers should be sure to rate limit this endpoint to avoid brute force\nattacks.",
        "operationId": "registrationTokenValidity",
        "parameters": [
          {
            "type": "string",
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The token to check validity of.",
            "x-example": "fBVFdqVE"
          }
        ],
        "responses": {
          "200": {
            "description": "The check has a result.",
            "schema": {
              "type": "object",
              "required": [
                "valid"
              ],
              "properties": {
                "valid": {
                  "type": "boolean",
                  "description": "True if the token is still valid, false otherwise. This should\nadditionally be false if the token is not a recognised token by\nthe server."
                }
              }
            },
            "examples": {
              "application/json": {
                "valid": true
              }
            }
          },
          "403": {
            "description": "The homeserver does not permit registration and thus all tokens are\nconsidered invalid.",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_FORBIDDEN",
                "error": "Registration is not enabled on this homeserver."
              }
            }
          },
          "429": {
            "description": "This request was rate-limited.",
            "schema": {
              "title": "RateLimitError",
              "type": "object",
              "description": "The rate limit was reached for this request",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "The M_LIMIT_EXCEEDED error code",
                  "example": "M_LIMIT_EXCEEDED"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "Too many requests"
                },
                "retry_after_ms": {
                  "type": "integer",
                  "description": "The amount of time in milliseconds the client should wait\nbefore trying the request again.",
                  "example": 2000
                }
              }
            }
          }
        },
        "x-addedInMatrixVersion": "1.2"
      }
    },
    "/_matrix/client/v1/rooms/{roomId}/hierarchy": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "Retrieve a portion of a space tree.",
        "description": "Paginates over the space tree in a depth-first manner to locate child rooms of a given space.\n\nWhere a child room is unknown to the local server, federation is used to fill in the details.\nThe servers listed in the `via` array should be contacted to attempt to fill in missing rooms.\n\nOnly [`m.space.child`](#mspacechild) state events of the room are considered. Invalid child\nrooms and parent events are not covered by this endpoint.",
        "operationId": "getSpaceHierarchy",
        "parameters": [
          {
            "type": "string",
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The room ID of the space to get a hierarchy for.",
            "x-example": "!space:example.org"
          },
          {
            "type": "boolean",
            "name": "suggested_only",
            "in": "query",
            "description": "Optional (default `false`) flag to indicate whether or not the server should only consider\nsuggested rooms. Suggested rooms are annotated in their [`m.space.child`](#mspacechild) event\ncontents.",
            "x-example": true
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "description": "Optional limit for the maximum number of rooms to include per response. Must be an integer\ngreater than zero.\n\nServers should apply a default value, and impose a maximum value to avoid resource exhaustion.",
            "x-example": 20
          },
          {
            "type": "integer",
            "name": "max_depth",
            "in": "query",
            "description": "Optional limit for how far to go into the space. Must be a non-negative integer.\n\nWhen reached, no further child rooms will be returned.\n\nServers should apply a default value, and impose a maximum value to avoid resource exhaustion.",
            "x-example": 5
          },
          {
            "type": "string",
            "name": "from",
            "in": "query",
            "description": "A pagination token from a previous result. If specified, `max_depth` and `suggested_only` cannot\nbe changed from the first request.",
            "x-example": "next_batch_token"
          }
        ],
        "responses": {
          "200": {
            "description": "A portion of the space tree, starting at the provided room ID.",
            "schema": {
              "type": "object",
              "required": [
                "rooms"
              ],
              "properties": {
                "next_batch": {
                  "type": "string",
                  "description": "A token to supply to `from` to keep paginating the responses. Not present when there are\nno further results."
                },
                "rooms": {
                  "type": "array",
                  "description": "The rooms for the current page, with the current filters.",
                  "items": {
                    "allOf": [
                      {
                        "title": "PublicRoomsChunk",
                        "type": "object",
                        "required": [
                          "room_id",
                          "num_joined_members",
                          "world_readable",
                          "guest_can_join"
                        ],
                        "properties": {
                          "avatar_url": {
                            "type": "string",
                            "description": "The URL for the room's avatar, if one is set.",
                            "format": "uri",
                            "example": "mxc://example.org/abcdef"
                          },
                          "canonical_alias": {
                            "type": "string",
                            "description": "The canonical alias of the room, if any.",
                            "example": "#general:example.org"
                          },
                          "guest_can_join": {
                            "type": "boolean",
                            "description": "Whether guest users may join the room and participate in it.\nIf they can, they will be subject to ordinary power level\nrules like any other user.",
                            "example": true
                          },
                          "join_rule": {
                            "type": "string",
                            "description": "The room's join rule. When not present, the room is assumed to\nbe `public`.",
                            "example": "public"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the room, if any.",
                            "example": "General Chat"
                          },
                          "num_joined_members": {
                            "type": "integer",
                            "description": "The number of members joined to the room.",
                            "example": 42
                          },
                          "room_id": {
                            "type": "string",
                            "description": "The ID of the room.",
                            "example": "!abcdefg:example.org"
                          },
                          "room_type": {
                            "type": "string",
                            "description": "The `type` of room (from [`m.room.create`](https://spec.matrix.org/v1.5/client-server-api/#mroomcreate)), if any.",
                            "x-addedInMatrixVersion": "1.4"
                          },
                          "topic": {
                            "type": "string",
                            "description": "The topic of the room, if any.",
                            "example": "All things general"
                          },
                          "world_readable": {
                            "type": "boolean",
                            "description": "Whether the room may be viewed by guest users without joining.",
                            "example": false
                          }
                        }
                      },
                      {
                        "title": "ChildRoomsChunk",
                        "type": "object",
                        "required": [
                          "children_state"
                        ],
                        "properties": {
                          "children_state": {
                            "type": "array",
                            "description": "The [`m.space.child`](#mspacechild) events of the space-room, represented\nas [Stripped State Events](#stripped-state) with an added `origin_server_ts` key.\n\nIf the room is not a space-room, this should be empty.",
                            "items": {
                              "allOf": [
                                {
                                  "title": "StrippedStateEvent",
                                  "type": "object",
                                  "description": "A stripped down state event, with only the `type`, `state_key`,\n`sender`, and `content` keys.",
                                  "required": [
                                    "type",
                                    "state_key",
                                    "content",
                                    "sender"
                                  ],
                                  "properties": {
                                    "content": {
                                      "title": "EventContent",
                                      "type": "object",
                                      "description": "The `content` for the event."
                                    },
                                    "sender": {
                                      "type": "string",
                                      "description": "The `sender` for the event."
                                    },
                                    "state_key": {
                                      "type": "string",
                                      "description": "The `state_key` for the event."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "The `type` for the event."
                                    }
                                  }
                                },
                                {
                                  "title": "StrippedChildStateEvent",
                                  "type": "object",
                                  "required": [
                                    "origin_server_ts"
                                  ],
                                  "properties": {
                                    "origin_server_ts": {
                                      "type": "integer",
                                      "description": "The `origin_server_ts` for the event.",
                                      "format": "int64"
                                    }
                                  }
                                }
                              ]
                            }
                          },
                          "room_type": {
                            "type": "string",
                            "description": "The `type` of room (from [`m.room.create`](https://spec.matrix.org/v1.5/client-server-api/#mroomcreate)), if any."
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "next_batch": "next_batch_token",
                "rooms": [
                  {
                    "avatar_url": "mxc://example.org/abcdef",
                    "canonical_alias": "#general:example.org",
                    "children_state": [
                      {
                        "content": {
                          "via": [
                            "example.org"
                          ]
                        },
                        "origin_server_ts": 1629413349153,
                        "sender": "@alice:example.org",
                        "state_key": "!a:example.org",
                        "type": "m.space.child"
                      }
                    ],
                    "guest_can_join": false,
                    "join_rule": "public",
                    "name": "The First Space",
                    "num_joined_members": 42,
                    "room_id": "!space:example.org",
                    "room_type": "m.space",
                    "topic": "No other spaces were created first, ever",
                    "world_readable": true
                  }
                ]
              }
            }
          },
          "400": {
            "description": "The request was invalid in some way. A meaningful `errcode`\nand description error text will be returned. Example reasons for rejection are:\n\n- The `from` token is unknown to the server.\n- `suggested_only` or `max_depth` changed during pagination.",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_INVALID_PARAM",
                "error": "suggested_only and max_depth cannot change on paginated requests"
              }
            }
          },
          "403": {
            "description": "The user cannot view or peek on the room. A meaningful `errcode`\nand description error text will be returned. Example reasons for rejection are:\n\n- The room is not set up for peeking.\n- The user has been banned from the room.\n- The room does not exist.",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_FORBIDDEN",
                "error": "You are not allowed to view this room."
              }
            }
          },
          "429": {
            "description": "This request was rate-limited.",
            "schema": {
              "title": "RateLimitError",
              "type": "object",
              "description": "The rate limit was reached for this request",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "The M_LIMIT_EXCEEDED error code",
                  "example": "M_LIMIT_EXCEEDED"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "Too many requests"
                },
                "retry_after_ms": {
                  "type": "integer",
                  "description": "The amount of time in milliseconds the client should wait\nbefore trying the request again.",
                  "example": 2000
                }
              }
            }
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-addedInMatrixVersion": "1.2"
      }
    },
    "/_matrix/client/v1/rooms/{roomId}/relations/{eventId}": {
      "get": {
        "tags": [
          "Event relationships"
        ],
        "summary": "Get the child events for a given parent event.",
        "description": "Retrieve all of the child events for a given parent event.\n\nNote that when paginating the `from` token should be \"after\" the `to` token in\nterms of topological ordering, because it is only possible to paginate \"backwards\"\nthrough events, starting at `from`.\n\nFor example, passing a `from` token from page 2 of the results, and a `to` token\nfrom page 1, would return the empty set. The caller can use a `from` token from\npage 1 and a `to` token from page 2 to paginate over the same range, however.",
        "operationId": "getRelatingEvents",
        "parameters": [
          {
            "type": "string",
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The ID of the room containing the parent event.",
            "x-example": "!636q39766251:matrix.org"
          },
          {
            "type": "string",
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The ID of the parent event whose child events are to be returned.",
            "x-example": "$asfDuShaf7Gafaw"
          },
          {
            "type": "string",
            "name": "from",
            "in": "query",
            "description": "The pagination token to start returning results from. If not supplied, results\nstart at the most recent topological event known to the server.\n\nCan be a `next_batch` or `prev_batch` token from a previous call, or a returned\n`start` token from [`/messages`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3roomsroomidmessages),\nor a `next_batch` token from [`/sync`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3sync).",
            "x-example": "page2_token"
          },
          {
            "type": "string",
            "name": "to",
            "in": "query",
            "description": "The pagination token to stop returning results at. If not supplied, results\ncontinue up to `limit` or until there are no more events.\n\nLike `from`, this can be a previous token from a prior call to this endpoint\nor from `/messages` or `/sync`.",
            "x-example": "page3_token"
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return in a single `chunk`. The server can\nand should apply a maximum value to this parameter to avoid large responses.\n\nSimilarly, the server should apply a default value when not supplied.",
            "x-example": 20
          },
          {
            "type": "string",
            "name": "dir",
            "in": "query",
            "description": "Optional (default `b`) direction to return events from. If this is set to `f`, events\nwill be returned in chronological order starting at `from`. If it\nis set to `b`, events will be returned in *reverse* chronological\norder, again starting at `from`.",
            "enum": [
              "b",
              "f"
            ],
            "x-addedInMatrixVersion": "1.4"
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated child events which point to the parent. If no events are\npointing to the parent or the pagination yields no results, an empty `chunk`\nis returned.",
            "schema": {
              "type": "object",
              "required": [
                "chunk"
              ],
              "properties": {
                "chunk": {
                  "title": "ChildEventsChunk",
                  "type": "array",
                  "description": "The child events of the requested event, ordered topologically most-recent first.",
                  "items": {
                    "allOf": [
                      {
                        "title": "ClientEvent",
                        "type": "object",
                        "description": "The format used for events when they are returned from a homeserver to a client\nvia the Client-Server API, or sent to an Application Service via the Application Services API.",
                        "allOf": [
                          {
                            "title": "ClientEventWithoutRoomID",
                            "type": "object",
                            "description": "The format used for events when they are returned from\nAPI endpoints such as `/sync`, where the `room_id` is implied elsewhere\nin the response.",
                            "required": [
                              "event_id",
                              "type",
                              "sender",
                              "origin_server_ts",
                              "content"
                            ],
                            "properties": {
                              "content": {
                                "type": "object",
                                "description": "The body of this event, as created by the client which sent it.",
                                "example": {
                                  "membership": "join"
                                }
                              },
                              "event_id": {
                                "type": "string",
                                "description": "The globally unique identifier for this event.",
                                "example": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45"
                              },
                              "origin_server_ts": {
                                "type": "integer",
                                "description": "Timestamp (in milliseconds since the unix epoch) on originating homeserver\nwhen this event was sent.",
                                "format": "int64",
                                "example": 1632489532305
                              },
                              "sender": {
                                "type": "string",
                                "description": "Contains the fully-qualified ID of the user who sent this event.",
                                "example": "@example:example.org"
                              },
                              "state_key": {
                                "type": "string",
                                "description": "Present if, and only if, this event is a *state* event. The key making\nthis piece of state unique in the room. Note that it is often an empty\nstring.\n\nState keys starting with an `@` are reserved for referencing user IDs, such\nas room members. With the exception of a few events, state events set with a\ngiven user's ID as the state key MUST only be set by that user.",
                                "example": "@user:example.org"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of the event.",
                                "example": "m.room.member"
                              },
                              "unsigned": {
                                "title": "UnsignedData",
                                "type": "object",
                                "description": "Contains optional extra information about the event.",
                                "properties": {
                                  "age": {
                                    "type": "integer",
                                    "description": "The time in milliseconds that has elapsed since the event was sent. This field is generated by the local homeserver, and may be incorrect if the local time on at least one of the two servers is out of sync, which can cause the age to either be negative or greater than it actually is.",
                                    "format": "int64",
                                    "example": 1567437
                                  },
                                  "prev_content": {
                                    "title": "EventContent",
                                    "type": "object",
                                    "description": "The previous `content` for this event. This field is generated\nby the local homeserver, and is only returned if the event is a state event,\nand the client has permission to see the previous content.\n",
                                    "x-changedInMatrixVersion": {
                                      "1.2": "Previously, this field was specified at the top level of returned\nevents rather than in `unsigned` (with the exception of the [`GET\n.../notifications`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3notifications)\nendpoint), though in practice no known server implementations honoured\nthis.\n"
                                    }
                                  },
                                  "redacted_because": {
                                    "title": "ClientEventWithoutRoomID",
                                    "type": "object",
                                    "description": "The event that redacted this event, if any.",
                                    "example": {
                                      "content": {
                                        "reason": "spam"
                                      },
                                      "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                      "origin_server_ts": 1632491098485,
                                      "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                      "sender": "@moderator:example.org",
                                      "type": "m.room.redaction",
                                      "unsigned": {
                                        "age": 1257
                                      }
                                    }
                                  },
                                  "transaction_id": {
                                    "type": "string",
                                    "description": "The client-supplied [transaction ID](https://spec.matrix.org/v1.5/client-server-api/#transaction-identifiers), for example, provided via\n`PUT /_matrix/client/v3/rooms/{roomId}/send/{eventType}/{txnId}`,\nif the client being given the event is the same one which sent it.\n"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "room_id"
                            ],
                            "properties": {
                              "room_id": {
                                "type": "string",
                                "description": "The ID of the room associated with this event.",
                                "example": "!jEsUZKDJdhlrceRyVU:example.org"
                              },
                              "unsigned": {
                                "properties": {
                                  "redacted_because": {
                                    "title": "ClientEvent",
                                    "example": {
                                      "content": {
                                        "reason": "spam"
                                      },
                                      "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                      "origin_server_ts": 1632491098485,
                                      "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                      "room_id": "!jEsUZKDJdhlrceRyVU:example.org",
                                      "sender": "@moderator:example.org",
                                      "type": "m.room.redaction",
                                      "unsigned": {
                                        "age": 1257
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "next_batch": {
                  "type": "string",
                  "description": "An opaque string representing a pagination token. The absence of this token\nmeans there are no more results to fetch and the client should stop paginating."
                },
                "prev_batch": {
                  "type": "string",
                  "description": "An opaque string representing a pagination token. The absence of this token\nmeans this is the start of the result set, i.e. this is the first batch/page."
                }
              }
            },
            "examples": {
              "application/json": {
                "chunk": [
                  {
                    "content": {
                      "m.relates_to": {
                        "event_id": "$asfDuShaf7Gafaw",
                        "rel_type": "org.example.my_relation"
                      }
                    },
                    "event_id": "$143273582443PhrSn:example.org",
                    "origin_server_ts": 1432735824653,
                    "room_id": "!636q39766251:matrix.org",
                    "sender": "@example:example.org",
                    "type": "m.room.message",
                    "unsigned": {
                      "age": 1234
                    }
                  }
                ],
                "next_batch": "page2_token",
                "prev_batch": "page1_token"
              }
            }
          },
          "404": {
            "description": "The parent event was not found or the user does not have permission to read\nthis event (it might be contained in history that is not accessible to the user).",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_NOT_FOUND",
                "error": "Event not found."
              }
            }
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/_matrix/client/v1/rooms/{roomId}/relations/{eventId}/{relType}": {
      "get": {
        "tags": [
          "Event relationships"
        ],
        "summary": "Get the child events for a given parent event, with a given `relType`.",
        "description": "Retrieve all of the child events for a given parent event which relate to the parent\nusing the given `relType`.\n\nNote that when paginating the `from` token should be \"after\" the `to` token in\nterms of topological ordering, because it is only possible to paginate \"backwards\"\nthrough events, starting at `from`.\n\nFor example, passing a `from` token from page 2 of the results, and a `to` token\nfrom page 1, would return the empty set. The caller can use a `from` token from\npage 1 and a `to` token from page 2 to paginate over the same range, however.",
        "operationId": "getRelatingEventsWithRelType",
        "parameters": [
          {
            "type": "string",
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The ID of the room containing the parent event.",
            "x-example": "!636q39766251:matrix.org"
          },
          {
            "type": "string",
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The ID of the parent event whose child events are to be returned.",
            "x-example": "$asfDuShaf7Gafaw"
          },
          {
            "type": "string",
            "name": "relType",
            "in": "path",
            "required": true,
            "description": "The [relationship type](https://spec.matrix.org/v1.5/client-server-api/#relationship-types) to search for.",
            "x-example": "org.example.my_relation"
          },
          {
            "type": "string",
            "name": "from",
            "in": "query",
            "description": "The pagination token to start returning results from. If not supplied, results\nstart at the most recent topological event known to the server.\n\nCan be a `next_batch` or `prev_batch` token from a previous call, or a returned\n`start` token from [`/messages`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3roomsroomidmessages),\nor a `next_batch` token from [`/sync`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3sync).",
            "x-example": "page2_token"
          },
          {
            "type": "string",
            "name": "to",
            "in": "query",
            "description": "The pagination token to stop returning results at. If not supplied, results\ncontinue up to `limit` or until there are no more events.\n\nLike `from`, this can be a previous token from a prior call to this endpoint\nor from `/messages` or `/sync`.",
            "x-example": "page3_token"
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return in a single `chunk`. The server can\nand should apply a maximum value to this parameter to avoid large responses.\n\nSimilarly, the server should apply a default value when not supplied.",
            "x-example": 20
          },
          {
            "type": "string",
            "name": "dir",
            "in": "query",
            "description": "Optional (default `b`) direction to return events from. If this is set to `f`, events\nwill be returned in chronological order starting at `from`. If it\nis set to `b`, events will be returned in *reverse* chronological\norder, again starting at `from`.",
            "enum": [
              "b",
              "f"
            ],
            "x-addedInMatrixVersion": "1.4"
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated child events which point to the parent. If no events are\npointing to the parent or the pagination yields no results, an empty `chunk`\nis returned.",
            "schema": {
              "type": "object",
              "required": [
                "chunk"
              ],
              "properties": {
                "chunk": {
                  "title": "ChildEventsChunk",
                  "type": "array",
                  "description": "The child events of the requested event, ordered topologically\nmost-recent first. The events returned will match the `relType`\nsupplied in the URL.",
                  "items": {
                    "allOf": [
                      {
                        "title": "ClientEvent",
                        "type": "object",
                        "description": "The format used for events when they are returned from a homeserver to a client\nvia the Client-Server API, or sent to an Application Service via the Application Services API.",
                        "allOf": [
                          {
                            "title": "ClientEventWithoutRoomID",
                            "type": "object",
                            "description": "The format used for events when they are returned from\nAPI endpoints such as `/sync`, where the `room_id` is implied elsewhere\nin the response.",
                            "required": [
                              "event_id",
                              "type",
                              "sender",
                              "origin_server_ts",
                              "content"
                            ],
                            "properties": {
                              "content": {
                                "type": "object",
                                "description": "The body of this event, as created by the client which sent it.",
                                "example": {
                                  "membership": "join"
                                }
                              },
                              "event_id": {
                                "type": "string",
                                "description": "The globally unique identifier for this event.",
                                "example": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45"
                              },
                              "origin_server_ts": {
                                "type": "integer",
                                "description": "Timestamp (in milliseconds since the unix epoch) on originating homeserver\nwhen this event was sent.",
                                "format": "int64",
                                "example": 1632489532305
                              },
                              "sender": {
                                "type": "string",
                                "description": "Contains the fully-qualified ID of the user who sent this event.",
                                "example": "@example:example.org"
                              },
                              "state_key": {
                                "type": "string",
                                "description": "Present if, and only if, this event is a *state* event. The key making\nthis piece of state unique in the room. Note that it is often an empty\nstring.\n\nState keys starting with an `@` are reserved for referencing user IDs, such\nas room members. With the exception of a few events, state events set with a\ngiven user's ID as the state key MUST only be set by that user.",
                                "example": "@user:example.org"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of the event.",
                                "example": "m.room.member"
                              },
                              "unsigned": {
                                "title": "UnsignedData",
                                "type": "object",
                                "description": "Contains optional extra information about the event.",
                                "properties": {
                                  "age": {
                                    "type": "integer",
                                    "description": "The time in milliseconds that has elapsed since the event was sent. This field is generated by the local homeserver, and may be incorrect if the local time on at least one of the two servers is out of sync, which can cause the age to either be negative or greater than it actually is.",
                                    "format": "int64",
                                    "example": 1567437
                                  },
                                  "prev_content": {
                                    "title": "EventContent",
                                    "type": "object",
                                    "description": "The previous `content` for this event. This field is generated\nby the local homeserver, and is only returned if the event is a state event,\nand the client has permission to see the previous content.\n",
                                    "x-changedInMatrixVersion": {
                                      "1.2": "Previously, this field was specified at the top level of returned\nevents rather than in `unsigned` (with the exception of the [`GET\n.../notifications`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3notifications)\nendpoint), though in practice no known server implementations honoured\nthis.\n"
                                    }
                                  },
                                  "redacted_because": {
                                    "title": "ClientEventWithoutRoomID",
                                    "type": "object",
                                    "description": "The event that redacted this event, if any.",
                                    "example": {
                                      "content": {
                                        "reason": "spam"
                                      },
                                      "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                      "origin_server_ts": 1632491098485,
                                      "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                      "sender": "@moderator:example.org",
                                      "type": "m.room.redaction",
                                      "unsigned": {
                                        "age": 1257
                                      }
                                    }
                                  },
                                  "transaction_id": {
                                    "type": "string",
                                    "description": "The client-supplied [transaction ID](https://spec.matrix.org/v1.5/client-server-api/#transaction-identifiers), for example, provided via\n`PUT /_matrix/client/v3/rooms/{roomId}/send/{eventType}/{txnId}`,\nif the client being given the event is the same one which sent it.\n"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "room_id"
                            ],
                            "properties": {
                              "room_id": {
                                "type": "string",
                                "description": "The ID of the room associated with this event.",
                                "example": "!jEsUZKDJdhlrceRyVU:example.org"
                              },
                              "unsigned": {
                                "properties": {
                                  "redacted_because": {
                                    "title": "ClientEvent",
                                    "example": {
                                      "content": {
                                        "reason": "spam"
                                      },
                                      "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                      "origin_server_ts": 1632491098485,
                                      "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                      "room_id": "!jEsUZKDJdhlrceRyVU:example.org",
                                      "sender": "@moderator:example.org",
                                      "type": "m.room.redaction",
                                      "unsigned": {
                                        "age": 1257
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "next_batch": {
                  "type": "string",
                  "description": "An opaque string representing a pagination token. The absence of this token\nmeans there are no more results to fetch and the client should stop paginating."
                },
                "prev_batch": {
                  "type": "string",
                  "description": "An opaque string representing a pagination token. The absence of this token\nmeans this is the start of the result set, i.e. this is the first batch/page."
                }
              }
            },
            "examples": {
              "application/json": {
                "chunk": [
                  {
                    "content": {
                      "m.relates_to": {
                        "event_id": "$asfDuShaf7Gafaw",
                        "rel_type": "org.example.my_relation"
                      }
                    },
                    "event_id": "$143273582443PhrSn:example.org",
                    "origin_server_ts": 1432735824653,
                    "room_id": "!636q39766251:matrix.org",
                    "sender": "@example:example.org",
                    "type": "m.room.message",
                    "unsigned": {
                      "age": 1234
                    }
                  }
                ],
                "next_batch": "page2_token",
                "prev_batch": "page1_token"
              }
            }
          },
          "404": {
            "description": "The parent event was not found or the user does not have permission to read\nthis event (it might be contained in history that is not accessible to the user).",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_NOT_FOUND",
                "error": "Event not found."
              }
            }
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/_matrix/client/v1/rooms/{roomId}/relations/{eventId}/{relType}/{eventType}": {
      "get": {
        "tags": [
          "Event relationships"
        ],
        "summary": "Get the child events for a given parent event, with a given `relType` and `eventType`.",
        "description": "Retrieve all of the child events for a given parent event which relate to the parent\nusing the given `relType` and have the given `eventType`.\n\nNote that when paginating the `from` token should be \"after\" the `to` token in\nterms of topological ordering, because it is only possible to paginate \"backwards\"\nthrough events, starting at `from`.\n\nFor example, passing a `from` token from page 2 of the results, and a `to` token\nfrom page 1, would return the empty set. The caller can use a `from` token from\npage 1 and a `to` token from page 2 to paginate over the same range, however.",
        "operationId": "getRelatingEventsWithRelTypeAndEventType",
        "parameters": [
          {
            "type": "string",
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The ID of the room containing the parent event.",
            "x-example": "!636q39766251:matrix.org"
          },
          {
            "type": "string",
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The ID of the parent event whose child events are to be returned.",
            "x-example": "$asfDuShaf7Gafaw"
          },
          {
            "type": "string",
            "name": "relType",
            "in": "path",
            "required": true,
            "description": "The [relationship type](https://spec.matrix.org/v1.5/client-server-api/#relationship-types) to search for.",
            "x-example": "org.example.my_relation"
          },
          {
            "type": "string",
            "name": "eventType",
            "in": "path",
            "required": true,
            "description": "The event type of child events to search for.\n\nNote that in encrypted rooms this will typically always be `m.room.encrypted`\nregardless of the event type contained within the encrypted payload.",
            "x-example": "m.room.message"
          },
          {
            "type": "string",
            "name": "from",
            "in": "query",
            "description": "The pagination token to start returning results from. If not supplied, results\nstart at the most recent topological event known to the server.\n\nCan be a `next_batch` or `prev_batch` token from a previous call, or a returned\n`start` token from [`/messages`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3roomsroomidmessages),\nor a `next_batch` token from [`/sync`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3sync).",
            "x-example": "page2_token"
          },
          {
            "type": "string",
            "name": "to",
            "in": "query",
            "description": "The pagination token to stop returning results at. If not supplied, results\ncontinue up to `limit` or until there are no more events.\n\nLike `from`, this can be a previous token from a prior call to this endpoint\nor from `/messages` or `/sync`.",
            "x-example": "page3_token"
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return in a single `chunk`. The server can\nand should apply a maximum value to this parameter to avoid large responses.\n\nSimilarly, the server should apply a default value when not supplied.",
            "x-example": 20
          },
          {
            "type": "string",
            "name": "dir",
            "in": "query",
            "description": "Optional (default `b`) direction to return events from. If this is set to `f`, events\nwill be returned in chronological order starting at `from`. If it\nis set to `b`, events will be returned in *reverse* chronological\norder, again starting at `from`.",
            "enum": [
              "b",
              "f"
            ],
            "x-addedInMatrixVersion": "1.4"
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated child events which point to the parent. If no events are\npointing to the parent or the pagination yields no results, an empty `chunk`\nis returned.",
            "schema": {
              "type": "object",
              "required": [
                "chunk"
              ],
              "properties": {
                "chunk": {
                  "title": "ChildEventsChunk",
                  "type": "array",
                  "description": "The child events of the requested event, ordered topologically most-recent\nfirst. The events returned will match the `relType` and `eventType` supplied\nin the URL.",
                  "items": {
                    "allOf": [
                      {
                        "title": "ClientEvent",
                        "type": "object",
                        "description": "The format used for events when they are returned from a homeserver to a client\nvia the Client-Server API, or sent to an Application Service via the Application Services API.",
                        "allOf": [
                          {
                            "title": "ClientEventWithoutRoomID",
                            "type": "object",
                            "description": "The format used for events when they are returned from\nAPI endpoints such as `/sync`, where the `room_id` is implied elsewhere\nin the response.",
                            "required": [
                              "event_id",
                              "type",
                              "sender",
                              "origin_server_ts",
                              "content"
                            ],
                            "properties": {
                              "content": {
                                "type": "object",
                                "description": "The body of this event, as created by the client which sent it.",
                                "example": {
                                  "membership": "join"
                                }
                              },
                              "event_id": {
                                "type": "string",
                                "description": "The globally unique identifier for this event.",
                                "example": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45"
                              },
                              "origin_server_ts": {
                                "type": "integer",
                                "description": "Timestamp (in milliseconds since the unix epoch) on originating homeserver\nwhen this event was sent.",
                                "format": "int64",
                                "example": 1632489532305
                              },
                              "sender": {
                                "type": "string",
                                "description": "Contains the fully-qualified ID of the user who sent this event.",
                                "example": "@example:example.org"
                              },
                              "state_key": {
                                "type": "string",
                                "description": "Present if, and only if, this event is a *state* event. The key making\nthis piece of state unique in the room. Note that it is often an empty\nstring.\n\nState keys starting with an `@` are reserved for referencing user IDs, such\nas room members. With the exception of a few events, state events set with a\ngiven user's ID as the state key MUST only be set by that user.",
                                "example": "@user:example.org"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of the event.",
                                "example": "m.room.member"
                              },
                              "unsigned": {
                                "title": "UnsignedData",
                                "type": "object",
                                "description": "Contains optional extra information about the event.",
                                "properties": {
                                  "age": {
                                    "type": "integer",
                                    "description": "The time in milliseconds that has elapsed since the event was sent. This field is generated by the local homeserver, and may be incorrect if the local time on at least one of the two servers is out of sync, which can cause the age to either be negative or greater than it actually is.",
                                    "format": "int64",
                                    "example": 1567437
                                  },
                                  "prev_content": {
                                    "title": "EventContent",
                                    "type": "object",
                                    "description": "The previous `content` for this event. This field is generated\nby the local homeserver, and is only returned if the event is a state event,\nand the client has permission to see the previous content.\n",
                                    "x-changedInMatrixVersion": {
                                      "1.2": "Previously, this field was specified at the top level of returned\nevents rather than in `unsigned` (with the exception of the [`GET\n.../notifications`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3notifications)\nendpoint), though in practice no known server implementations honoured\nthis.\n"
                                    }
                                  },
                                  "redacted_because": {
                                    "title": "ClientEventWithoutRoomID",
                                    "type": "object",
                                    "description": "The event that redacted this event, if any.",
                                    "example": {
                                      "content": {
                                        "reason": "spam"
                                      },
                                      "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                      "origin_server_ts": 1632491098485,
                                      "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                      "sender": "@moderator:example.org",
                                      "type": "m.room.redaction",
                                      "unsigned": {
                                        "age": 1257
                                      }
                                    }
                                  },
                                  "transaction_id": {
                                    "type": "string",
                                    "description": "The client-supplied [transaction ID](https://spec.matrix.org/v1.5/client-server-api/#transaction-identifiers), for example, provided via\n`PUT /_matrix/client/v3/rooms/{roomId}/send/{eventType}/{txnId}`,\nif the client being given the event is the same one which sent it.\n"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "room_id"
                            ],
                            "properties": {
                              "room_id": {
                                "type": "string",
                                "description": "The ID of the room associated with this event.",
                                "example": "!jEsUZKDJdhlrceRyVU:example.org"
                              },
                              "unsigned": {
                                "properties": {
                                  "redacted_because": {
                                    "title": "ClientEvent",
                                    "example": {
                                      "content": {
                                        "reason": "spam"
                                      },
                                      "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                      "origin_server_ts": 1632491098485,
                                      "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                      "room_id": "!jEsUZKDJdhlrceRyVU:example.org",
                                      "sender": "@moderator:example.org",
                                      "type": "m.room.redaction",
                                      "unsigned": {
                                        "age": 1257
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "next_batch": {
                  "type": "string",
                  "description": "An opaque string representing a pagination token. The absence of this token\nmeans there are no more results to fetch and the client should stop paginating."
                },
                "prev_batch": {
                  "type": "string",
                  "description": "An opaque string representing a pagination token. The absence of this token\nmeans this is the start of the result set, i.e. this is the first batch/page."
                }
              }
            },
            "examples": {
              "application/json": {
                "chunk": [
                  {
                    "content": {
                      "m.relates_to": {
                        "event_id": "$asfDuShaf7Gafaw",
                        "rel_type": "org.example.my_relation"
                      }
                    },
                    "event_id": "$143273582443PhrSn:example.org",
                    "origin_server_ts": 1432735824653,
                    "room_id": "!636q39766251:matrix.org",
                    "sender": "@example:example.org",
                    "type": "m.room.message",
                    "unsigned": {
                      "age": 1234
                    }
                  }
                ],
                "next_batch": "page2_token",
                "prev_batch": "page1_token"
              }
            }
          },
          "404": {
            "description": "The parent event was not found or the user does not have permission to read\nthis event (it might be contained in history that is not accessible to the user).",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_NOT_FOUND",
                "error": "Event not found."
              }
            }
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/_matrix/client/v1/rooms/{roomId}/threads": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Retrieve a list of threads in a room, with optional filters.",
        "description": "Paginates over the thread roots in a room, ordered by the `latest_event` of each thread root\nin its bundle.",
        "operationId": "getThreadRoots",
        "parameters": [
          {
            "type": "string",
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The room ID where the thread roots are located.",
            "x-example": "!room:example.org"
          },
          {
            "type": "string",
            "name": "include",
            "in": "query",
            "description": "Optional (default `all`) flag to denote which thread roots are of interest to the caller.\nWhen `all`, all thread roots found in the room are returned. When `participated`, only\nthread roots for threads the user has [participated in](https://spec.matrix.org/v1.5/client-server-api/#server-side-aggregation-of-mthread-relationships)\nwill be returned.",
            "enum": [
              "all",
              "participated"
            ],
            "x-example": "all"
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "description": "Optional limit for the maximum number of thread roots to include per response. Must be an integer\ngreater than zero.\n\nServers should apply a default value, and impose a maximum value to avoid resource exhaustion.",
            "x-example": 20
          },
          {
            "type": "string",
            "name": "from",
            "in": "query",
            "description": "A pagination token from a previous result. When not provided, the server starts paginating from\nthe most recent event visible to the user (as per history visibility rules; topologically).",
            "x-example": "next_batch_token"
          }
        ],
        "responses": {
          "200": {
            "description": "A portion of the available thread roots in the room, based on the filter criteria.",
            "schema": {
              "type": "object",
              "required": [
                "chunk"
              ],
              "properties": {
                "chunk": {
                  "type": "array",
                  "description": "The thread roots, ordered by the `latest_event` in each event's aggregation bundle. All events\nreturned include bundled [aggregations](https://spec.matrix.org/v1.5/client-server-api/#aggregations).\n\nIf the thread root event was sent by an [ignored user](https://spec.matrix.org/v1.5/client-server-api/#ignoring-users), the\nevent is returned redacted to the caller. This is to simulate the same behaviour of a client doing\naggregation locally on the thread.",
                  "items": {
                    "title": "ClientEvent",
                    "type": "object",
                    "description": "The format used for events when they are returned from a homeserver to a client\nvia the Client-Server API, or sent to an Application Service via the Application Services API.",
                    "allOf": [
                      {
                        "title": "ClientEventWithoutRoomID",
                        "type": "object",
                        "description": "The format used for events when they are returned from\nAPI endpoints such as `/sync`, where the `room_id` is implied elsewhere\nin the response.",
                        "required": [
                          "event_id",
                          "type",
                          "sender",
                          "origin_server_ts",
                          "content"
                        ],
                        "properties": {
                          "content": {
                            "type": "object",
                            "description": "The body of this event, as created by the client which sent it.",
                            "example": {
                              "membership": "join"
                            }
                          },
                          "event_id": {
                            "type": "string",
                            "description": "The globally unique identifier for this event.",
                            "example": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45"
                          },
                          "origin_server_ts": {
                            "type": "integer",
                            "description": "Timestamp (in milliseconds since the unix epoch) on originating homeserver\nwhen this event was sent.",
                            "format": "int64",
                            "example": 1632489532305
                          },
                          "sender": {
                            "type": "string",
                            "description": "Contains the fully-qualified ID of the user who sent this event.",
                            "example": "@example:example.org"
                          },
                          "state_key": {
                            "type": "string",
                            "description": "Present if, and only if, this event is a *state* event. The key making\nthis piece of state unique in the room. Note that it is often an empty\nstring.\n\nState keys starting with an `@` are reserved for referencing user IDs, such\nas room members. With the exception of a few events, state events set with a\ngiven user's ID as the state key MUST only be set by that user.",
                            "example": "@user:example.org"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the event.",
                            "example": "m.room.member"
                          },
                          "unsigned": {
                            "title": "UnsignedData",
                            "type": "object",
                            "description": "Contains optional extra information about the event.",
                            "properties": {
                              "age": {
                                "type": "integer",
                                "description": "The time in milliseconds that has elapsed since the event was sent. This field is generated by the local homeserver, and may be incorrect if the local time on at least one of the two servers is out of sync, which can cause the age to either be negative or greater than it actually is.",
                                "format": "int64",
                                "example": 1567437
                              },
                              "prev_content": {
                                "title": "EventContent",
                                "type": "object",
                                "description": "The previous `content` for this event. This field is generated\nby the local homeserver, and is only returned if the event is a state event,\nand the client has permission to see the previous content.\n",
                                "x-changedInMatrixVersion": {
                                  "1.2": "Previously, this field was specified at the top level of returned\nevents rather than in `unsigned` (with the exception of the [`GET\n.../notifications`](https://spec.matrix.org/v1.5/client-server-api/#get_matrixclientv3notifications)\nendpoint), though in practice no known server implementations honoured\nthis.\n"
                                }
                              },
                              "redacted_because": {
                                "title": "ClientEventWithoutRoomID",
                                "type": "object",
                                "description": "The event that redacted this event, if any.",
                                "example": {
                                  "content": {
                                    "reason": "spam"
                                  },
                                  "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                  "origin_server_ts": 1632491098485,
                                  "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                  "sender": "@moderator:example.org",
                                  "type": "m.room.redaction",
                                  "unsigned": {
                                    "age": 1257
                                  }
                                }
                              },
                              "transaction_id": {
                                "type": "string",
                                "description": "The client-supplied [transaction ID](https://spec.matrix.org/v1.5/client-server-api/#transaction-identifiers), for example, provided via\n`PUT /_matrix/client/v3/rooms/{roomId}/send/{eventType}/{txnId}`,\nif the client being given the event is the same one which sent it.\n"
                              }
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "room_id"
                        ],
                        "properties": {
                          "room_id": {
                            "type": "string",
                            "description": "The ID of the room associated with this event.",
                            "example": "!jEsUZKDJdhlrceRyVU:example.org"
                          },
                          "unsigned": {
                            "properties": {
                              "redacted_because": {
                                "title": "ClientEvent",
                                "example": {
                                  "content": {
                                    "reason": "spam"
                                  },
                                  "event_id": "$Nhl3rsgHMjk-DjMJANawr9HHAhLg4GcoTYrSiYYGqEE",
                                  "origin_server_ts": 1632491098485,
                                  "redacts": "$26RqwJMLw-yds1GAH_QxjHRC1Da9oasK0e5VLnck_45",
                                  "room_id": "!jEsUZKDJdhlrceRyVU:example.org",
                                  "sender": "@moderator:example.org",
                                  "type": "m.room.redaction",
                                  "unsigned": {
                                    "age": 1257
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "next_batch": {
                  "type": "string",
                  "description": "A token to supply to `from` to keep paginating the responses. Not present when there are\nno further results."
                }
              }
            },
            "examples": {
              "application/json": {
                "chunk": [
                  {
                    "content": {
                      "body": "This is an example text message",
                      "format": "org.matrix.custom.html",
                      "formatted_body": "<b>This is an example text message</b>",
                      "msgtype": "m.text"
                    },
                    "event_id": "$143273582443PhrSn:example.org",
                    "origin_server_ts": 1432735824653,
                    "room_id": "!jEsUZKDJdhlrceRyVU:example.org",
                    "sender": "@example:example.org",
                    "type": "m.room.message",
                    "unsigned": {
                      "age": 1234
                    }
                  }
                ],
                "next_batch": "next_batch_token"
              }
            }
          },
          "400": {
            "description": "The request was invalid in some way. A meaningful `errcode`\nand description error text will be returned. Example reasons for rejection are:\n\n- The `from` token is unknown to the server.",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_INVALID_PARAM",
                "error": "Unknown pagination token"
              }
            }
          },
          "403": {
            "description": "The user cannot view or peek on the room. A meaningful `errcode`\nand description error text will be returned. Example reasons for rejection are:\n\n- The room is not set up for peeking.\n- The user has been banned from the room.\n- The room does not exist.",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_FORBIDDEN",
                "error": "You are not allowed to view this room."
              }
            }
          },
          "429": {
            "description": "This request was rate-limited.",
            "schema": {
              "title": "RateLimitError",
              "type": "object",
              "description": "The rate limit was reached for this request",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "The M_LIMIT_EXCEEDED error code",
                  "example": "M_LIMIT_EXCEEDED"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "Too many requests"
                },
                "retry_after_ms": {
                  "type": "integer",
                  "description": "The amount of time in milliseconds the client should wait\nbefore trying the request again.",
                  "example": 2000
                }
              }
            }
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-addedInMatrixVersion": "1.4"
      }
    },
    "/_matrix/client/v3/account/3pid": {
      "get": {
        "tags": [
          "Account management"
        ],
        "summary": "Gets a list of a user's third party identifiers.",
        "description": "Gets a list of the third party identifiers that the homeserver has\nassociated with the user's account.\n\nThis is *not* the same as the list of third party identifiers bound to\nthe user's Matrix ID in identity servers.\n\nIdentifiers in this list may be used by the homeserver as, for example,\nidentifiers that it will accept to reset the user's account password.",
        "operationId": "getAccount3PIDs",
        "responses": {
          "200": {
            "description": "The lookup was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "threepids": {
                  "type": "array",
                  "items": {
                    "title": "Third party identifier",
                    "type": "object",
                    "required": [
                      "medium",
                      "address",
                      "validated_at",
                      "added_at"
                    ],
                    "properties": {
                      "added_at": {
                        "type": "integer",
                        "description": "The timestamp, in milliseconds, when the homeserver associated the third party identifier with the user.",
                        "format": "int64"
                      },
                      "address": {
                        "type": "string",
                        "description": "The third party identifier address."
                      },
                      "medium": {
                        "type": "string",
                        "description": "The medium of the third party identifier.",
                        "enum": [
                          "email",
                          "msisdn"
                        ]
                      },
                      "validated_at": {
                        "type": "integer",
                        "description": "The timestamp, in milliseconds, when the identifier was\nvalidated by the identity server.",
                        "format": "int64"
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "threepids": [
                  {
                    "added_at": 1535336848756,
                    "address": "monkey@banana.island",
                    "medium": "email",
                    "validated_at": 1535176800000
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Account management"
        ],
        "summary": "Adds contact information to the user's account.",
        "description": "Adds contact information to the user's account.\n\nThis endpoint is deprecated in favour of the more specific `/3pid/add`\nand `/3pid/bind` endpoints.\n\n**Note:**\nPreviously this endpoint supported a `bind` parameter. This parameter\nhas been removed, making this endpoint behave as though it was `false`.\nThis results in this endpoint being an equivalent to `/3pid/bind` rather\nthan dual-purpose.",
        "operationId": "post3PIDs",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "three_pid_creds": {
                  "client_secret": "d0nt-T3ll",
                  "id_access_token": "abc123_OpaqueString",
                  "id_server": "matrix.org",
                  "sid": "abc123987"
                }
              },
              "required": [
                "three_pid_creds"
              ],
              "properties": {
                "three_pid_creds": {
                  "title": "ThreePidCredentials",
                  "type": "object",
                  "description": "The third party credentials to associate with the account.",
                  "required": [
                    "client_secret",
                    "id_server",
                    "id_access_token",
                    "sid"
                  ],
                  "properties": {
                    "client_secret": {
                      "type": "string",
                      "description": "The client secret used in the session with the identity server."
                    },
                    "id_access_token": {
                      "type": "string",
                      "description": "An access token previously registered with the identity server. Servers\ncan treat this as optional to distinguish between r0.5-compatible clients\nand this specification version."
                    },
                    "id_server": {
                      "type": "string",
                      "description": "The identity server to use."
                    },
                    "sid": {
                      "type": "string",
                      "description": "The session identifier given by the identity server."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The addition was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "submit_url": {
                  "type": "string",
                  "description": "An optional field containing a URL where the client must\nsubmit the validation token to, with identical parameters\nto the Identity Service API's `POST\n/validate/email/submitToken` endpoint (without the requirement\nfor an access token). The homeserver must send this token to the\nuser (if applicable), who should then be prompted to provide it\nto the client.\n\nIf this field is not present, the client can assume that\nverification will happen without the client's involvement\nprovided the homeserver advertises this specification version\nin the `/versions` response (ie: r0.5.0).",
                  "format": "uri",
                  "example": "https://example.org/path/to/submitToken"
                }
              }
            },
            "examples": {
              "application/json": {
                "submit_url": "https://example.org/path/to/submitToken"
              }
            }
          },
          "403": {
            "description": "The credentials could not be verified with the identity server.",
            "schema": {
              "title": "Error",
              "type": "object",
              "description": "A Matrix-level Error",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "An error code.",
                  "example": "M_UNKNOWN"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "An unknown error occurred"
                }
              }
            },
            "examples": {
              "application/json": {
                "errcode": "M_THREEPID_AUTH_FAILED",
                "error": "The third party credentials could not be verified by the identity server."
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/_matrix/client/v3/account/3pid/add": {
      "post": {
        "tags": [
          "Account management"
        ],
        "summary": "Adds contact information to the user's account.",
        "description": "This API endpoint uses the [User-Interactive Authentication API](https://spec.matrix.org/v1.5/client-server-api/#user-interactive-authentication-api).\n\nAdds contact information to the user's account. Homeservers should use 3PIDs added\nthrough this endpoint for password resets instead of relying on the identity server.\n\nHomeservers should prevent the caller from adding a 3PID to their account if it has\nalready been added to another user's account on the homeserver.",
        "operationId": "add3PID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "client_secret": "d0nt-T3ll",
                "sid": "abc123987"
              },
              "required": [
                "client_secret",
                "sid"
              ],
              "properties": {
                "auth": {
                  "description": "Additional authentication information for the\nuser-interactive authentication API.",
                  "allOf": [
                    {
                      "title": "Authentication Data",
                      "type": "object",
                      "description": "Used by clients to submit authentication information to the interactive-authentication API",
                      "example": {
                        "example_credential": "verypoorsharedsecret",
                        "session": "xxxxx",
                        "type": "example.type.foo"
                      },
                      "additionalProperties": {
                        "description": "Keys dependent on the login type"
                      },
                      "properties": {
                        "session": {
                          "type": "string",
                          "description": "The value of the session key given by the homeserver."
                        },
                        "type": {
                          "type": "string",
                          "description": "The authentication type that the client is attempting to complete.\nMay be omitted if `session` is given, and the client is reissuing a\nrequest which it believes has been completed out-of-band (for example,\nvia the [fallback mechanism](#fallback))."
                        }
                      }
                    }
                  ]
                },
                "client_secret": {
                  "type": "string",
                  "description": "The client secret used in the session with the homeserver."
                },
                "sid": {
                  "type": "string",
                  "description": "The session identifier given by the homeserver."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The addition was successful.",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {}
            }
          },
          "401": {
            "description": "The homeserver requires additional authentication information.",
            "schema": {
              "title": "Authentication response",
              "type": "object",
              "description": "Used by servers to indicate that additional authentication information is required,",
              "required": [
                "flows"
              ],
              "properties": {
                "completed": {
                  "type": "array",
                  "description": "A list of the stages the client has completed successfully",
                  "items": {
                    "type": "string",
                    "example": "example.type.foo"
                  }
                },
                "flows": {
                  "type": "array",
                  "description": "A list of the login flows supported by the server for this API.",
                  "items": {
                    "title": "Flow information",
                    "type": "object",
                    "required": [
                      "stages"
                    ],
                    "properties": {
                      "stages": {
                        "type": "array",
                        "description": "The login type of each of the stages required to complete this\nauthentication flow",
                        "items": {
                          "type": "string",
                          "example": "example.type.foo"
                        }
                      }
                    }
                  }
                },
                "params": {
                  "type": "object",
                  "description": "Contains any information that the client will need to know in order to\nuse a given type of authentication. For each login type presented,\nthat type may be present as a key in this dictionary. For example, the\npublic part of an OAuth client ID could be given here.",
                  "example": {
                    "example.type.baz": {
                      "example_key": "foobar"
                    }
                  },
                  "additionalProperties": {
                    "type": "object"
                  }
                },
                "session": {
                  "type": "string",
                  "description": "This is a session identifier that the client must pass back to the home\nserver, if one is provided, in subsequent attempts to authenticate in the\nsame API call.",
                  "example": "xxxxxxyz"
                }
              }
            }
          },
          "429": {
            "description": "This request was rate-limited.",
            "schema": {
              "title": "RateLimitError",
              "type": "object",
              "description": "The rate limit was reached for this request",
              "required": [
                "errcode"
              ],
              "properties": {
                "errcode": {
                  "type": "string",
                  "description": "The M_LIMIT_EXCEEDED error code",
                  "example": "M_LIMIT_EXCEEDED"
                },
                "error": {
                  "type": "string",
                  "description": "A human-readable error message.",
                  "example": "Too many requests"
                },
                "retry_after_ms": {
                  "type": "integer",
[...]
